.screen {
  overflow: auto;
}

.imgScreen {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.replayIcon {
  position: absolute;
  width: 40px;
  height: auto;
  right: 0;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  z-index: 5;
}

.saveIcon {
  position: absolute;
  width: 60px;
  height: auto;
  right: 0;
  bottom: 0;
  margin-right: 80px;
  margin-bottom: 20px;
  z-index: 5;
}