.screen {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.background-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  z-index: 2;
  pointer-events: none;
}

.content {
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.question {
  width: 400px;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -180px;
}

.selectBtn {
  width: 300px;
  height: 50px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 60px;
  box-shadow: none;
  border: none;
  font-size: 17px;
  margin-left: -15px;
}

.answer-container1 {
  position: absolute;
  left: 50%;
  padding-top: 45px;
  margin-left: -190px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.answer-container2 {
  position: absolute;
  left: 50%;
  top: 32%;
  margin-left: -190px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.answer-container3 {
  position: absolute;
  left: 50%;
  top: 42%;
  margin-left: -190px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.answer-container4 {
  position: relative;
  left: -4%;
  margin-top: 285px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.nextBtn {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 10%;
  background-color: #7042ea;
  color: white;
  font-weight: bold;
  border: none;
}

.rocket {
  opacity: 0.9;
  margin-left: 20px;
  margin-right: -42px;
}

.rocket.selcted {
  background-color: #7042ea;
}

.selectBtn.selected {
  background-color: #7042ea;
}

.BtnNo {
  font-size: 28px;
  color: #7042ea;
  z-index: 4;
}

/* .BtnNo.selected {
  color: white;
} */

.progress-container {
  margin-top: 50px;
}

.progresslevel {
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 20px;
  padding: 0;
  text-align: right;
}

.endBtn {
  width: 300px;
    height: 55px;
    background-color: #7042ea;
    font-size: large;
    color: white;
    border-radius: 60px;
    border: none;
}

.backBtn {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15px;
  top: 10px;
}

.ending-container {
  position: absolute;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}