.screen {
  width: 100%;
  height: 100vh;
  max-height: 2200px;
  position: relative;
  overflow: hidden;
}

.background-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  z-index: 2;
  pointer-events: none;
}

.content {
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.question {
  width: 86vw;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.rocket1 {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  width: 350px;
}

.rocket2 {
  position: absolute;
  left: 50%;
  top: 37%;
  transform: translateX(-50%);
  width: 350px;
}

.rocket3 {
  position: absolute;
  left: 50%;
  top: 49%;
  transform: translateX(-50%);
  width: 350px;
}

.rocket4 {
  position: absolute;
  left: 50%;
  top: 61%;
  transform: translateX(-50%);
  width: 350px;
}

.BtnNo1 {
  font-size: 28px;
  color: #7042ea;
  z-index: 4;
}

.BtnNo1.selected {
  color: white;
}

.BtnNo2 {
  font-size: 28px;
  color: #7042ea;
  z-index: 4;
}

.BtnNo2.selected {
  color: white;
}

.BtnNo3 {
  font-size: 28px;
  color: #7042ea;
  z-index: 4;
}

.BtnNo3.selected {
  color: white;
}

.BtnNo4 {
  font-size: 28px;
  color: #7042ea;
  z-index: 4;
}

.BtnNo4.selected {
  color: white;
}

.nextBtn {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 15%;
  background-color: #7042ea;
  color: white;
  font-weight: bold;
  border: none;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.rocket.selcted {
  background-color: #7042ea;
}

.selectBtn1 {
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 27%;
  transform: translateX(-50%);
}

.selectBtn2 {
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translateX(-50%);
}

.selectBtn3 {
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translateX(-50%);
}

.selectBtn4 {
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 72%;
  transform: translateX(-50%);
}

/* .BtnNo.selected {
  color: white;
} */

.progress-container {
  margin-top: 50px;
  width: 80vw;
}

.progresslevel {
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 20px;
  padding: 0;
  text-align: right;
}

.endBtn {
  width: 300px;
  height: 55px;
  background-color: #7042ea;
  font-size: large;
  color: white;
  border-radius: 60px;
  border: none;
}

.backBtn {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15px;
  top: 10px;
}

.ending-container {
  position: absolute;
  color: white;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}